.accordion-container {
    width: 100%;
    margin:  2rem auto;

    @include mq-medium {
        max-width: 90%;
        margin:  4rem auto;
    }

    @include mq-large {
        max-width: 70%;
    }
}

.faq-topic {
    margin-bottom: $spacer*3;
}

.faq-heading {
    font-size: $base;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: $bold;
    margin: 0;
    margin-bottom: $spacer;
}

.accordion-title {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 2rem 1rem 0;
  font-size: $size-5;
  font-family: $serif;
  font-style: italic;
  color: $black;
  border-bottom: 1px solid #e5e5e5;
}

.accordion-title:hover,
.accordion-title:hover::after {
  cursor: pointer;
  color: $black;
}

// .accordion-title:hover::after {
//   border: 1px solid $black;
// }

.accordion-title.active {
  color: $black;
  border-bottom: 1px solid $black;
}

.accordion-title::after {
  content: '→';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: $black;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.accordion-title.active::after {
  content: 'x';
  color: $black;
}

.accordion-content {
  display: none;
  padding: 1rem;
  border-bottom: 1px solid $black;
  overflow: hidden;
  color: $text-color;
}

.accordion-content p {
  font-size: 1rem;
}