.banner {
    position: relative;
    height: 20rem;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #27282D;

    margin-bottom: $spacer*2;

    @include mq-medium {
        height: 23rem;
    }
}

.banner .page-title {
    background: $white;
    font-size: $base;
    display: inline-block;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    border: 1px solid #eee;

    position: absolute;
    bottom: -2.3rem;
    left: 50%;
    transform: translateX(-50%);
}

.banner-logo {
    text-align: center;
    padding-top: 10rem;

    img {
        width: 15rem;

        @include mq-medium {
            width: 20rem;
        }
    }
}
