.blog-article {
    display: flex;
    flex-flow: column;
    position: relative;

    @include mq-medium {
        flex-flow: row;
    }
}

.blog-header {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: $spacer;
    padding-bottom: $spacer;
    text-align: center;
}

.post-meta {
    text-transform: uppercase;
    font-size: $small;
    letter-spacing: 2px;
    pointer-events: none;
}

.blog-title {
    font-family: $serif;
    font-style: italic;
    font-size: $size-3;
    margin-bottom: 1rem;
}

.blog-content {
    width: 100%;

    @include mq-medium {
        width: 50%;
    }
}

.sticky {
    padding: $spacer;

    @include mq-medium {
        position: sticky;
        top: $top-bar-height;
        z-index: 1;
        height: 100vh;
        overflow: scroll;
        padding: $spacer*2 $spacer*2 0;
    }
}

.fade {
    @include mq-medium {
        position: sticky;
        width: 100%;
        height: 10rem;
        bottom: 0;
        left: 0;
        z-index: 2;

        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 63%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 63%,rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 63%,rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    }
}

.blog-photos {
    width: 100%;
    background: #eee;
    padding: $spacer*2 $spacer;

    img {
        max-width: 800px;
        width: 100%;
        height: auto;
        display: block;
    }

    @include mq-medium {
        width: 50%;
        padding: $spacer*4 $spacer*2;
    }
}

