.btn {
    color: $black;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: $small;

    &:hover {
        color: $black;
    }

    &::after {
        border-bottom: 2px solid $black;
        content: '';
        left: 0;
        position: absolute;
        top: 1.4em;
        transition: 0.2s;
        width: 0%;
    }
}

.btn:hover::after,
.btn:focus::after {
    width: 100%;
}