footer {
    background: #27282D;
    color: $white;
    padding: $spacer ;

    @include mq-medium {
        padding: $spacer*2 $spacer*2 $spacer ;
    }
}

.site-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacer;
    flex-flow: column;
    text-align: center;

    @include mq-medium {
        flex-flow: row;
        margin-bottom: $spacer*4;
        text-align: left;
    }

    a {
        color: $white;
    }

    svg {
        fill: $white;
    }

    li {
        margin-bottom: .5rem;
    }
}

.footer-logo {
    flex-grow: 1;
    margin-bottom: $spacer;

    @include mq-medium {
        margin-bottom: 0;
    }
}

.footer-logo svg {
    width: 14rem;
}

.footer-social {
    @include mq-medium {
        padding-left: $spacer*2;
    }
}

.site-footer-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.copyright {
    flex-grow: 1;
    font-size: $small;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;

    @include mq-medium {
        text-align: left;
    }
}