
.ff-form {
    label {
        text-transform: uppercase;
        font-family: $serif;
        font-size: $small;
        font-weight: bold;
        letter-spacing: 3px;

        background: url('../../img/arrow.png') no-repeat left center;
        padding-left: 2rem;
    }

    input,
    textarea {
        width: 100%;
        display: block;
        outline: none;
        border: none;
        border-bottom: 2px solid $black;
        padding: .5rem 0;
        margin-bottom: 2rem;
        font-size: $base;
        font-family:  $sans-serif;
        background: transparent;
    }

    .frm_submit {
        button {
            background: $black;
            color: $white;
            border: none;
            font-size: $base;
            text-transform: uppercase;
            font-family:  $sans-serif;
            letter-spacing: 4px;
            cursor: pointer;
            padding: .75rem 1.5rem;

            &:hover {
                background: $gray;
            }
        }
    }
}

.frm_form_fields {
    border: none;
    margin: 0;
    padding: 0;
}