.hero {
    position: relative;
    min-height: 100vh;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include mq-medium {
        margin-bottom: $spacer*3;
    }
}

.hero-logo {
    text-align: center;
    padding-top: 25vh;

    img {
        width: 75vw;

        @include mq-medium {
            width: 50vw
        }

        @include mq-large {
            width: 25vw;
        }
    }
}
