.layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacer*1.5;

    @include mq-medium {
        margin-bottom: $spacer*3;
    }

    .content {
        width: 75%;
        margin: 0 auto;
    }

    img {
        max-width: 100%;
        width: 100%;
        display: block;
    }
}

.layout-title {
    @extend .size-4;
    font-family: $serif;
    font-style: italic;
    margin-bottom: 1.5rem;
    font-weight: normal;
}

.layout-btn {
    color: $black;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: $small;

    &:hover {
        color: $black;
    }

    &::after {
        border-bottom: 2px solid $black;
        content: '';
        left: 0;
        position: absolute;
        top: 1.4em;
        transition: 0.2s;
        width: 0%;
    }
}

.layout-btn:hover::after,
.layout-btn:focus::after {
    width: 100%;
}




/* @group Layout 1 */

    .l-1 {
        flex-flow: column;

        @include mq-medium {
            flex-flow: row;
        }

        .content {
            margin-bottom: $spacer*2;
        }

        .box-1 {
            background: #eee;
            width: 100%;
            text-align: center;

            @include mq-medium {
                width: 50%;
            }
        }

        .box-1 img {
            width: 40%;
            margin: $spacer auto;

            @include mq-large {
                width: 50%;
                margin: $spacer*2 auto;
            }
        }

        .box-2 {
            width: 100%;
            padding-top: $spacer;
            display: flex;
            align-content: center;
            align-items: center;
            flex-flow: column;

            @include mq-medium {
                width: 50%;
                padding-top: 0;
            }
        }

        .box-2 img {
            align-self: flex-end;
            width: 75%;
            height: auto;

            @include mq-medium {
                width: 60%;
            }
        }
    }


/* @group Layout 2 */

    .l-2 {
        flex-flow: column;

        @include mq-medium {
            flex-flow: row;
        }

        .box-1 {
            width: 100%;

            @include mq-medium {
                width: 40%;
            }
        }

        .boxes {
            width: 100%;
            margin-top: $spacer;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include mq-medium {
                width: 60%;
                margin-top: 0;

                background: rgba(255,255,255,1);
                background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(238,238,238,1) 25%, rgba(238,238,238,1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(25%, rgba(255,255,255,1)), color-stop(25%, rgba(238,238,238,1)), color-stop(100%, rgba(238,238,238,1)));
                background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(238,238,238,1) 25%, rgba(238,238,238,1) 100%);
                background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(238,238,238,1) 25%, rgba(238,238,238,1) 100%);
                background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(238,238,238,1) 25%, rgba(238,238,238,1) 100%);
                background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(238,238,238,1) 25%, rgba(238,238,238,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=1 );
            }
        }

        .box-2 {
            width: 100%;

            @include mq-medium {
                width: 35%;
            }
        }

        .box-3 {
            width: 100%;
            text-align: center;
            padding: $spacer*1.5;


            @include mq-medium {
                width: 65%;
                padding: 8rem;
            }
        }
    }


/* @group Layout 3 */

    .l-3 {
        flex-flow: column;
        @include mq-medium {
            flex-flow: row;
        }

        .content {
            margin: $spacer 0;

            @include mq-medium {
                margin-bottom: $spacer*2;
            }
        }

        .box-1 {
            background: #eee;
            width: 100%;
            text-align: center;

            @include mq-medium {
                width: 50%;
            }
        }

        .box-1 img {
            width: 50%;
            margin: $spacer;
            display:  inline-block;

            @include mq-medium {
                margin: $spacer*4;
            }
        }

        .box-2 {
            width: 100%;
            display: flex;
            align-content: center;
            align-items: center;
            flex-flow: column;

            @include mq-medium {
                width: 50%;
            }

        }

        .box-2 img {
            align-self: flex-start;
            width: 60%;
            height: auto;

            @include mq-medium {
                align-self: flex-end;
            }
        }
    }

/* @group Layout 4 */

    .l-4 {
        flex-flow: column;
        @include mq-medium {
            flex-flow: row;
        }

        .content {
            margin-bottom: $spacer*2;
        }

        .box-1 {
            width: 100%;

            @include mq-medium {
                width: 50%;
            }
        }

        .box-2 {
            width: 100%;
            display: flex;
            align-content: center;
            align-items: center;
            flex-flow: column;

            background-image: url('../../img/3x4.svg');
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: 40% 50%;

            @include mq-medium {
                width: 50%;
                background-position: 20% 50%;
            }
        }

        .box-2 img {
            align-self: flex-end;
            width: 60%;
            height: auto;

            @include mq-medium {
                width: 70%;
            }
        }
    }


/* @group Layout 5 */

    .l-5 {
        flex-flow: column;
        @include mq-medium {
            flex-flow: row;
        }

        .content {
            margin-bottom: $spacer*2;
        }

        .box-1 {
            width: 100%;
            display: flex;
            justify-content: space-between;
            order: 2;

            @include mq-medium {
                order: 1;
                width: 50%;
            }

            div {
                width: 47%;
            }
        }

        .box-2 {
            width: 100%;
            order: 1;

            @include mq-medium {
                order: 2;
                width: 50%;
            }
        }
    }

/* @group Layout 6 */

    .l-6 {
        flex-flow: column;
        @include mq-medium {
            flex-flow: row;
        }

        .content {
            margin-bottom: $spacer*2;
        }

        .box-1 {
            width: 100%;
            display: flex;
            justify-content: space-between;

            @include mq-medium {
                width: 50%;
            }
        }

        .box-2 {
            width: 100%;
            background-image: url('../../img/16x9.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 0 center;

            img {
                width: 60%;
                margin: 0 auto;

                @include mq-medium {
                    width: 65%;
                    margin: 0 auto $spacer*3;
                }
            }

            @include mq-medium {
                width: 50%;
                background-position: 0 bottom;
            }
        }
    }

/* @group Layout Map */

.l-map {
    flex-flow: column;
    @include mq-medium {
        flex-flow: row;
    }

    .content {
        margin-bottom: $spacer*2;
    }

    .box-1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: #eee;
        position: relative;
        order: 2;

        @include mq-medium {
            width: 50%;
            order: 1;
        }
    }

    .box-1 .admin-map,
    .box-1 .workshop-map {
        margin: $spacer*3 auto;
        display: none;
        position: relative;
        width: 100%;
        padding-top: 100%; /* 1:1 Aspect Ratio */

        @include mq-large {
            margin: $spacer*3;
            padding-top: 70%; /* 1:1 Aspect Ratio */
        }

        iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .box-2 {
        width: 100%;
        order: 1;

        @include mq-medium {
            order: 2;
            width: 50%;
        }
    }


    #radio-workshop,
    #radio-admin {
        display: none;
    }

    #radio-workshop:checked ~ .workshop-map {
        display: block;
    }

    #radio-admin:checked ~ .admin-map {
        display: block;
    }

    .tabs {
        position: absolute;
        bottom: 2.5rem;
        width: 100%;
        text-align: center;
        color: $text-color;

        label {
            display: inline-block;
            font-family: $serif;
            text-transform: uppercase;
            font-style: italic;
            letter-spacing: 4px;
            font-size: $small;
            margin: 0 1rem;
            cursor: pointer;
            padding-bottom: .5rem;
            border-bottom: 1px solid #eee;

            &:hover {
                padding-bottom: .5rem;
                border-bottom: 1px solid $text-color;
            }
        }
    }
}

/* @group Layout Contact Form */

    .l-cform {
        flex-flow: column;
        @include mq-medium {
            flex-flow: row;
        }

        .cform {
            margin-bottom: $spacer*2;
        }

        .box-1 {
            width: 100%;
            display: flex;
            justify-content: space-between;
            background: url('../../img/stamp.jpg')  95% top no-repeat ;

            @include mq-medium {
                width: 50%;
            }
        }

        .box-2 {
            width: 100%;

            background-image: url('../../img/3x4.svg');
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: 35% 70%;
            text-align: right;

            @include mq-medium {
                width: 50%;
            }

            img {
                width: 70%;
                display: inline-block;
            }
        }
    }
