.masonry-container {
    width: 95%;
    margin: 0 auto;

    @include mq-xlarge {
        width: 85%;
    }
}

.masonry-item {
    width: 46%;
    margin: 2%;
    position: relative;

    @include mq-large {
        width: 30%;
        margin: 1.66%;
    }

    // &:hover .event-details {
    //     opacity: 1;
    //     transform: translate(-50%, -50%);
    // }

    // &:hover .event-title {
    //     transform: translateX(0);
    //     opacity: 1;
    //     transition: .2s;
    //     transition-delay: .1s;
    // }

    // &:hover .event-timestamp {
    //     transform: translateX(0);
    //     opacity: 1;
    //     transition: .2s;
    //     transition-delay: .2s;
    // }
}

.event-cover {
    width: 100%;
    height: auto;
    display: block;
}

.event-details {
    display: none;
    // text-align: center;
    // width: 80%;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // z-index: 2;
    // transform: translate(-60%, -50%);
    // background: rgba(255,255,255,.9);
    // padding: 1rem;

    // opacity: 0;
    // transition: .4s;
}

// .event-title {
//     font-size: $size-5;
//     letter-spacing: 1px;
//     margin-bottom: .5rem;
//     font-family:  $serif;
//     font-style: italic;

//     transform: translateX(-3%);
//     opacity: 0;
// }

// .event-timestamp {
//     font-size: $small;
//     text-transform: uppercase;
//     letter-spacing: 4px;

//     transform: translateX(-3%);
//     opacity: 0;
// }



.alm-btn-wrap {
    text-align: center;
    padding: $spacer*2;
}

button.alm-load-more-btn {
    font-family: $sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: $black;
    outline: none;
    border: none;

    font-size: $base;
    font-weight: $bold;
    width: auto;
    cursor: pointer;

    background: none;
    border-radius: 0;

    border-bottom: 2px solid $black;

    &:hover,
    &:active {
        background: none;
        color: $black;
        opacity: .5;
        box-shadow: none;
    }
}

button.alm-load-more-btn.done {
    background: none;
    pointer-events: none;
}