.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: $white;
    border-bottom: 1px solid #e7e7e7;

    @include mq-medium {
        padding: 1rem 2rem;
    }

    ul {
        margin: 0;
        padding: 0;
    }
}

.top-bar-logo {
    width: 70%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include mq-large {
        width: 25%;
    }
}

.home-link {
    display: inherit;

    svg {
        path: $black;
    }
}

body.menu-isOpen {
    overflow: hidden;

    .menu-trigger {
        .line-2{
            width: 0;
        }

        .line-3 {
            width: 25px;
        }
    }

    .disable-bg {
        display: block;
    }
}

.disable-bg {
    display: none;
    position: fixed;
    z-index: 7;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.8)
}

.menu-trigger {
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    border: none;
    border-right: 1px solid $black;
    background: transparent;
    outline: none;

    div {
        width: 25px;
        height: 2px;
        background: $black;
        margin: 5px 0;
        transition: all .3s;

        &.line-3 {
            width: 18px;
        }
    }

    @include mq-large {
        display: none;
    }
}

.top-bar-social {
    width: 25%;
    text-align: right;

    li {
        display: inline-block;
        vertical-align: middle;

        &:first-child {
            margin-right: 1rem;
        }
    }

    svg {
        height: 15px;
    }
}

.top-bar-menu {
    text-align: center;
    position: fixed;
    top: $top-bar-height;
    left: 0;
    z-index: 8;
    width: 100%;
    background: $white;
    transform: translateX(-100vw);
    transition: transform .3s;

    @include mq-large {
        position: relative;
        top: 0;
        transform: translateX(0);
        width: 50%;
        border-top: none;
    }

    &.isOpen {
        transform: translateX(0);
    }
}

.top-bar-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: $spacer 0;

    @include mq-large {
        flex-flow: row;
        padding: 0;
    }
}

.top-bar-menu li {
    display: block;
    margin: 1rem 0;
    font-size: $size-5;
    font-family: $serif;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 3px;

    @include mq-large {
        font-size: $small;
        display: inline-block;
        margin: 0 1.5rem;
    }
}