
/* @group EXTENSIONS */

.container {
    width: 80%;
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
}

.full-container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.size-1 {
    font-size: $size-1;
}

.size-2 {
    font-size: $size-2;
}

.size-3 {
    font-size: $size-3;
}

.size-4 {
    font-size: $size-4;
}

.size-5 {
    font-size: $size-5;
}

.base {
    font-size: $base;
}