/* @group GENERAL */

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // smooth scrolling in iOS
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;

    color: $text-color;
}

::-moz-selection {
    background: #ddd;
    text-shadow: none;
}

::selection {
    background: #ddd;
    text-shadow: none;
}


a {
    color: $text-color;
    outline: none;

    &:hover {
        color: $gray;
    }
}

b {
    font-weight: $bold;
}

ul {
    margin: 0;
    padding: 0;
}

main {
    margin-bottom: $spacer*4;
}

.page-header {
    margin-bottom: $spacer*2;
}

.page-header h2 {
    font-size: $size-3;
    font-family: $serif;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 0;
}