/* @group Fonts */
    $sans-serif: 'PT Sans', sans-serif;
    $serif: 'Playfair Display', serif;
    $monospace: Courier, Lucida Console, Lucida Sans Typewriter, monospace;

/* @group Font Sizes */
    $size-1: 5rem;
    $size-2: 3.75rem;
    $size-3: 2.5rem;
    $size-4: 1.75rem;
    $size-5: 1.5rem;
    $size-5: 1.25rem;
    $base: 1rem;
    $small: .8rem;
    $blockquote: $size-3;
    $code-size: $base;

/* @group Font Weights */
    $light: 300;
    $regular: 400;
    $bold: 700;
    $semi-bold: 500;
    $x-bold: 800;
    $heavy: 900;

/* @group Measurements */
    $top-bar-height: 57px;
    $spacer: 2rem;

/* @group Colors */
    $gray: #777;
    $black: #000000;
    $white: #ffffff;

    $text-color: #333333;
    $text-invert: #ffffff;


/* @group Custom Breakpoints */
    $medium: 40em; // 640px
    $large: 64em; // 1024px
    $xlarge: 90em; // 1440px
    $xxlarge: 100em; // 1600px
    $mbp13: 80em; // 1280px
    $mbp15: 90em; // 1440px