@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Playfair+Display:400,400i,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* @group FONTS */
/* @group Fonts */
/* @group Font Sizes */
/* @group Font Weights */
/* @group Measurements */
/* @group Colors */
/* @group Custom Breakpoints */
/* @group EXTENSIONS */
.container {
  width: 80%;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto; }

.full-container {
  width: 90%;
  margin-right: auto;
  margin-left: auto; }

.size-1 {
  font-size: 5rem; }

.size-2 {
  font-size: 3.75rem; }

.size-3 {
  font-size: 2.5rem; }

.size-4, .layout-title {
  font-size: 1.75rem; }

.size-5 {
  font-size: 1.25rem; }

.base {
  font-size: 1rem; }

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/* typenugget.com */
html,
body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin: 0; }
  @media (min-width: 100em) {
    html,
    body {
      font-size: 20px; } }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2; }

h1 {
  font-size: 5rem;
  margin-bottom: 1.5rem;
  line-height: 1.17; }

h2 {
  font-size: 3.75rem;
  margin-bottom: 1.5rem;
  margin-bottom: 0.83em;
  line-height: 1.17; }

h3 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.33; }

h4 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  line-height: 1.5; }

h5 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  line-height: 1.5; }

h6 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.5; }

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem; }

em {
  font-style: italic; }

a {
  text-decoration: none; }

ul, ol {
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-left: 1.1em; }

/* @group GENERAL */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  color: #333333; }

::-moz-selection {
  background: #ddd;
  text-shadow: none; }

::selection {
  background: #ddd;
  text-shadow: none; }

a {
  color: #333333;
  outline: none; }
  a:hover {
    color: #777; }

b {
  font-weight: 700; }

ul {
  margin: 0;
  padding: 0; }

main {
  margin-bottom: 8rem; }

.page-header {
  margin-bottom: 4rem; }

.page-header h2 {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
  text-align: center;
  margin: 0;
  padding: 0; }

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #ffffff;
  border-bottom: 1px solid #e7e7e7; }
  @media (min-width: 40em) {
    .top-bar {
      padding: 1rem 2rem; } }
  .top-bar ul {
    margin: 0;
    padding: 0; }

.top-bar-logo {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  @media (min-width: 64em) {
    .top-bar-logo {
      width: 25%; } }

.home-link {
  display: inherit; }
  .home-link svg {
    path: #000000; }

body.menu-isOpen {
  overflow: hidden; }
  body.menu-isOpen .menu-trigger .line-2 {
    width: 0; }
  body.menu-isOpen .menu-trigger .line-3 {
    width: 25px; }
  body.menu-isOpen .disable-bg {
    display: block; }

.disable-bg {
  display: none;
  position: fixed;
  z-index: 7;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); }

.menu-trigger {
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
  border: none;
  border-right: 1px solid #000000;
  background: transparent;
  outline: none; }
  .menu-trigger div {
    width: 25px;
    height: 2px;
    background: #000000;
    margin: 5px 0;
    transition: all .3s; }
    .menu-trigger div.line-3 {
      width: 18px; }
  @media (min-width: 64em) {
    .menu-trigger {
      display: none; } }

.top-bar-social {
  width: 25%;
  text-align: right; }
  .top-bar-social li {
    display: inline-block;
    vertical-align: middle; }
    .top-bar-social li:first-child {
      margin-right: 1rem; }
  .top-bar-social svg {
    height: 15px; }

.top-bar-menu {
  text-align: center;
  position: fixed;
  top: 57px;
  left: 0;
  z-index: 8;
  width: 100%;
  background: #ffffff;
  transform: translateX(-100vw);
  transition: transform .3s; }
  @media (min-width: 64em) {
    .top-bar-menu {
      position: relative;
      top: 0;
      transform: translateX(0);
      width: 50%;
      border-top: none; } }
  .top-bar-menu.isOpen {
    transform: translateX(0); }

.top-bar-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 2rem 0; }
  @media (min-width: 64em) {
    .top-bar-menu ul {
      flex-flow: row;
      padding: 0; } }

.top-bar-menu li {
  display: block;
  margin: 1rem 0;
  font-size: 1.25rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 3px; }
  @media (min-width: 64em) {
    .top-bar-menu li {
      font-size: 0.8rem;
      display: inline-block;
      margin: 0 1.5rem; } }

.btn {
  color: #000000;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 0.8rem; }
  .btn:hover {
    color: #000000; }
  .btn::after {
    border-bottom: 2px solid #000000;
    content: '';
    left: 0;
    position: absolute;
    top: 1.4em;
    transition: 0.2s;
    width: 0%; }

.btn:hover::after,
.btn:focus::after {
  width: 100%; }

.hero {
  position: relative;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 40em) {
    .hero {
      margin-bottom: 6rem; } }

.hero-logo {
  text-align: center;
  padding-top: 25vh; }
  .hero-logo img {
    width: 75vw; }
    @media (min-width: 40em) {
      .hero-logo img {
        width: 50vw; } }
    @media (min-width: 64em) {
      .hero-logo img {
        width: 25vw; } }

.banner {
  position: relative;
  height: 20rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #27282D;
  margin-bottom: 4rem; }
  @media (min-width: 40em) {
    .banner {
      height: 23rem; } }

.banner .page-title {
  background: #ffffff;
  font-size: 1rem;
  display: inline-block;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  border: 1px solid #eee;
  position: absolute;
  bottom: -2.3rem;
  left: 50%;
  transform: translateX(-50%); }

.banner-logo {
  text-align: center;
  padding-top: 10rem; }
  .banner-logo img {
    width: 15rem; }
    @media (min-width: 40em) {
      .banner-logo img {
        width: 20rem; } }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1; }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem; }
  @media (min-width: 40em) {
    .layout {
      margin-bottom: 6rem; } }
  .layout .content {
    width: 75%;
    margin: 0 auto; }
  .layout img {
    max-width: 100%;
    width: 100%;
    display: block; }

.layout-title {
  font-family: "Playfair Display", serif;
  font-style: italic;
  margin-bottom: 1.5rem;
  font-weight: normal; }

.layout-btn {
  color: #000000;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 0.8rem; }
  .layout-btn:hover {
    color: #000000; }
  .layout-btn::after {
    border-bottom: 2px solid #000000;
    content: '';
    left: 0;
    position: absolute;
    top: 1.4em;
    transition: 0.2s;
    width: 0%; }

.layout-btn:hover::after,
.layout-btn:focus::after {
  width: 100%; }

/* @group Layout 1 */
.l-1 {
  flex-flow: column; }
  @media (min-width: 40em) {
    .l-1 {
      flex-flow: row; } }
  .l-1 .content {
    margin-bottom: 4rem; }
  .l-1 .box-1 {
    background: #eee;
    width: 100%;
    text-align: center; }
    @media (min-width: 40em) {
      .l-1 .box-1 {
        width: 50%; } }
  .l-1 .box-1 img {
    width: 40%;
    margin: 2rem auto; }
    @media (min-width: 64em) {
      .l-1 .box-1 img {
        width: 50%;
        margin: 4rem auto; } }
  .l-1 .box-2 {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    align-content: center;
    align-items: center;
    flex-flow: column; }
    @media (min-width: 40em) {
      .l-1 .box-2 {
        width: 50%;
        padding-top: 0; } }
  .l-1 .box-2 img {
    align-self: flex-end;
    width: 75%;
    height: auto; }
    @media (min-width: 40em) {
      .l-1 .box-2 img {
        width: 60%; } }

/* @group Layout 2 */
.l-2 {
  flex-flow: column; }
  @media (min-width: 40em) {
    .l-2 {
      flex-flow: row; } }
  .l-2 .box-1 {
    width: 100%; }
    @media (min-width: 40em) {
      .l-2 .box-1 {
        width: 40%; } }
  .l-2 .boxes {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 40em) {
      .l-2 .boxes {
        width: 60%;
        margin-top: 0;
        background: white;
        background: -moz-linear-gradient(left, white 0%, white 25%, #eeeeee 25%, #eeeeee 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(25%, white), color-stop(25%, #eeeeee), color-stop(100%, #eeeeee));
        background: -webkit-linear-gradient(left, white 0%, white 25%, #eeeeee 25%, #eeeeee 100%);
        background: -o-linear-gradient(left, white 0%, white 25%, #eeeeee 25%, #eeeeee 100%);
        background: -ms-linear-gradient(left, white 0%, white 25%, #eeeeee 25%, #eeeeee 100%);
        background: linear-gradient(to right, white 0%, white 25%, #eeeeee 25%, #eeeeee 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=1 ); } }
  .l-2 .box-2 {
    width: 100%; }
    @media (min-width: 40em) {
      .l-2 .box-2 {
        width: 35%; } }
  .l-2 .box-3 {
    width: 100%;
    text-align: center;
    padding: 3rem; }
    @media (min-width: 40em) {
      .l-2 .box-3 {
        width: 65%;
        padding: 8rem; } }

/* @group Layout 3 */
.l-3 {
  flex-flow: column; }
  @media (min-width: 40em) {
    .l-3 {
      flex-flow: row; } }
  .l-3 .content {
    margin: 2rem 0; }
    @media (min-width: 40em) {
      .l-3 .content {
        margin-bottom: 4rem; } }
  .l-3 .box-1 {
    background: #eee;
    width: 100%;
    text-align: center; }
    @media (min-width: 40em) {
      .l-3 .box-1 {
        width: 50%; } }
  .l-3 .box-1 img {
    width: 50%;
    margin: 2rem;
    display: inline-block; }
    @media (min-width: 40em) {
      .l-3 .box-1 img {
        margin: 8rem; } }
  .l-3 .box-2 {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-flow: column; }
    @media (min-width: 40em) {
      .l-3 .box-2 {
        width: 50%; } }
  .l-3 .box-2 img {
    align-self: flex-start;
    width: 60%;
    height: auto; }
    @media (min-width: 40em) {
      .l-3 .box-2 img {
        align-self: flex-end; } }

/* @group Layout 4 */
.l-4 {
  flex-flow: column; }
  @media (min-width: 40em) {
    .l-4 {
      flex-flow: row; } }
  .l-4 .content {
    margin-bottom: 4rem; }
  .l-4 .box-1 {
    width: 100%; }
    @media (min-width: 40em) {
      .l-4 .box-1 {
        width: 50%; } }
  .l-4 .box-2 {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-flow: column;
    background-image: url("../../img/3x4.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 40% 50%; }
    @media (min-width: 40em) {
      .l-4 .box-2 {
        width: 50%;
        background-position: 20% 50%; } }
  .l-4 .box-2 img {
    align-self: flex-end;
    width: 60%;
    height: auto; }
    @media (min-width: 40em) {
      .l-4 .box-2 img {
        width: 70%; } }

/* @group Layout 5 */
.l-5 {
  flex-flow: column; }
  @media (min-width: 40em) {
    .l-5 {
      flex-flow: row; } }
  .l-5 .content {
    margin-bottom: 4rem; }
  .l-5 .box-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    order: 2; }
    @media (min-width: 40em) {
      .l-5 .box-1 {
        order: 1;
        width: 50%; } }
    .l-5 .box-1 div {
      width: 47%; }
  .l-5 .box-2 {
    width: 100%;
    order: 1; }
    @media (min-width: 40em) {
      .l-5 .box-2 {
        order: 2;
        width: 50%; } }

/* @group Layout 6 */
.l-6 {
  flex-flow: column; }
  @media (min-width: 40em) {
    .l-6 {
      flex-flow: row; } }
  .l-6 .content {
    margin-bottom: 4rem; }
  .l-6 .box-1 {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    @media (min-width: 40em) {
      .l-6 .box-1 {
        width: 50%; } }
  .l-6 .box-2 {
    width: 100%;
    background-image: url("../../img/16x9.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 center; }
    .l-6 .box-2 img {
      width: 60%;
      margin: 0 auto; }
      @media (min-width: 40em) {
        .l-6 .box-2 img {
          width: 65%;
          margin: 0 auto 6rem; } }
    @media (min-width: 40em) {
      .l-6 .box-2 {
        width: 50%;
        background-position: 0 bottom; } }

/* @group Layout Map */
.l-map {
  flex-flow: column; }
  @media (min-width: 40em) {
    .l-map {
      flex-flow: row; } }
  .l-map .content {
    margin-bottom: 4rem; }
  .l-map .box-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #eee;
    position: relative;
    order: 2; }
    @media (min-width: 40em) {
      .l-map .box-1 {
        width: 50%;
        order: 1; } }
  .l-map .box-1 .admin-map,
  .l-map .box-1 .workshop-map {
    margin: 6rem auto;
    display: none;
    position: relative;
    width: 100%;
    padding-top: 100%;
    /* 1:1 Aspect Ratio */ }
    @media (min-width: 64em) {
      .l-map .box-1 .admin-map,
      .l-map .box-1 .workshop-map {
        margin: 6rem;
        padding-top: 70%;
        /* 1:1 Aspect Ratio */ } }
    .l-map .box-1 .admin-map iframe,
    .l-map .box-1 .workshop-map iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
  .l-map .box-2 {
    width: 100%;
    order: 1; }
    @media (min-width: 40em) {
      .l-map .box-2 {
        order: 2;
        width: 50%; } }
  .l-map #radio-workshop,
  .l-map #radio-admin {
    display: none; }
  .l-map #radio-workshop:checked ~ .workshop-map {
    display: block; }
  .l-map #radio-admin:checked ~ .admin-map {
    display: block; }
  .l-map .tabs {
    position: absolute;
    bottom: 2.5rem;
    width: 100%;
    text-align: center;
    color: #333333; }
    .l-map .tabs label {
      display: inline-block;
      font-family: "Playfair Display", serif;
      text-transform: uppercase;
      font-style: italic;
      letter-spacing: 4px;
      font-size: 0.8rem;
      margin: 0 1rem;
      cursor: pointer;
      padding-bottom: .5rem;
      border-bottom: 1px solid #eee; }
      .l-map .tabs label:hover {
        padding-bottom: .5rem;
        border-bottom: 1px solid #333333; }

/* @group Layout Contact Form */
.l-cform {
  flex-flow: column; }
  @media (min-width: 40em) {
    .l-cform {
      flex-flow: row; } }
  .l-cform .cform {
    margin-bottom: 4rem; }
  .l-cform .box-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: url("../../img/stamp.jpg") 95% top no-repeat; }
    @media (min-width: 40em) {
      .l-cform .box-1 {
        width: 50%; } }
  .l-cform .box-2 {
    width: 100%;
    background-image: url("../../img/3x4.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 35% 70%;
    text-align: right; }
    @media (min-width: 40em) {
      .l-cform .box-2 {
        width: 50%; } }
    .l-cform .box-2 img {
      width: 70%;
      display: inline-block; }

.blog-article {
  display: flex;
  flex-flow: column;
  position: relative; }
  @media (min-width: 40em) {
    .blog-article {
      flex-flow: row; } }

.blog-header {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 2rem;
  padding-bottom: 2rem; }

.post-meta {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
  pointer-events: none; }

.blog-title {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 2.5rem;
  margin-bottom: 1rem; }

.blog-content {
  width: 100%; }
  @media (min-width: 40em) {
    .blog-content {
      width: 50%; } }

.sticky {
  padding: 6rem 2rem 2rem; }
  @media (min-width: 40em) {
    .sticky {
      position: sticky;
      top: 57px;
      z-index: 1;
      height: 100vh;
      overflow: scroll;
      padding: 6rem 4rem 0; } }

@media (min-width: 40em) {
  .fade {
    position: sticky;
    width: 100%;
    height: 10rem;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 63%, white 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 63%, white 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 63%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); } }

.blog-photos {
  width: 100%;
  background: #eee;
  padding: 4rem 2rem; }
  .blog-photos img {
    max-width: 800px;
    width: 100%;
    height: auto;
    display: block; }
  @media (min-width: 40em) {
    .blog-photos {
      width: 50%;
      padding: 8rem 4rem; } }

footer {
  background: #27282D;
  color: #ffffff;
  padding: 2rem; }
  @media (min-width: 40em) {
    footer {
      padding: 4rem 4rem 2rem; } }

.site-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-flow: column;
  text-align: center; }
  @media (min-width: 40em) {
    .site-footer {
      flex-flow: row;
      margin-bottom: 8rem;
      text-align: left; } }
  .site-footer a {
    color: #ffffff; }
  .site-footer svg {
    fill: #ffffff; }
  .site-footer li {
    margin-bottom: .5rem; }

.footer-logo {
  flex-grow: 1;
  margin-bottom: 2rem; }
  @media (min-width: 40em) {
    .footer-logo {
      margin-bottom: 0; } }

.footer-logo svg {
  width: 14rem; }

@media (min-width: 40em) {
  .footer-social {
    padding-left: 4rem; } }

.site-footer-2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.copyright {
  flex-grow: 1;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 40em) {
    .copyright {
      text-align: left; } }

.accordion-container {
  width: 100%;
  margin: 2rem auto; }
  @media (min-width: 40em) {
    .accordion-container {
      max-width: 90%;
      margin: 4rem auto; } }
  @media (min-width: 64em) {
    .accordion-container {
      max-width: 70%; } }

.faq-topic {
  margin-bottom: 6rem; }

.faq-heading {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 2rem; }

.accordion-title {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 2rem 1rem 0;
  font-size: 1.25rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: #000000;
  border-bottom: 1px solid #e5e5e5; }

.accordion-title:hover,
.accordion-title:hover::after {
  cursor: pointer;
  color: #000000; }

.accordion-title.active {
  color: #000000;
  border-bottom: 1px solid #000000; }

.accordion-title::after {
  content: '→';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #000000;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center; }

.accordion-title.active::after {
  content: 'x';
  color: #000000; }

.accordion-content {
  display: none;
  padding: 1rem;
  border-bottom: 1px solid #000000;
  overflow: hidden;
  color: #333333; }

.accordion-content p {
  font-size: 1rem; }

.masonry-container {
  width: 95%;
  margin: 0 auto; }
  @media (min-width: 90em) {
    .masonry-container {
      width: 85%; } }

.masonry-item {
  width: 46%;
  margin: 2%;
  position: relative; }
  @media (min-width: 64em) {
    .masonry-item {
      width: 30%;
      margin: 1.66%; } }

.event-cover {
  width: 100%;
  height: auto;
  display: block; }

.event-details {
  display: none; }

.alm-btn-wrap {
  text-align: center;
  padding: 4rem; }

button.alm-load-more-btn {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #000000;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  width: auto;
  cursor: pointer;
  background: none;
  border-radius: 0;
  border-bottom: 2px solid #000000; }
  button.alm-load-more-btn:hover, button.alm-load-more-btn:active {
    background: none;
    color: #000000;
    opacity: .5;
    box-shadow: none; }

button.alm-load-more-btn.done {
  background: none;
  pointer-events: none; }

.ff-form label {
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 3px;
  background: url("../../img/arrow.png") no-repeat left center;
  padding-left: 2rem; }

.ff-form input,
.ff-form textarea {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  border-bottom: 2px solid #000000;
  padding: .5rem 0;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-family: "PT Sans", sans-serif;
  background: transparent; }

.ff-form .frm_submit button {
  background: #000000;
  color: #ffffff;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 4px;
  cursor: pointer;
  padding: .75rem 1.5rem; }
  .ff-form .frm_submit button:hover {
    background: #777; }
